server {
    listen 80;
    server_name frontservernsaprojet.work   www.frontservernsaprojet.work  ;

    root /var/www/html/dist/front;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
 
}

    location /api {
    proxy_pass http://backservernsaprojet.work;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
}
  
}
